/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

table tbody tr td:last-child .btn-group button {
    padding: 6px 9px !important;
}
table tbody tr td:last-child .plus-icon {
    
    color: #00af00;
    cursor: pointer;
}
table tbody tr td:last-child .minus-icon {
    
    color: #af0000;
    cursor: pointer;
}
table tbody tr td:last-child .edit-icon,
table tbody tr td:last-child .view-icon {
   
    color: #03a9f4;
    cursor: pointer;
}  
.errMsg {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #f1556c;
}
.err_parsley {
    border-color: #f1556c;
} 
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading_div{
    position: relative; 
    height: 100%;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
    z-index: 999;
}

.dropdown-menu.show {
    top: 100%!important;
    margin-left: -135px;
}

table td{
    vertical-align: middle !important;
}
dl {
    color: #000000;
}
dl dt {
    float: left;
}
dl dd {
    margin-bottom: 8px;
    text-align: right;
}
dd {
    margin-left: 0;
}